@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.App {
    display: grid;
    grid-template-columns: 1fr;
    /* width:100%; */
    align-content: start;
    justify-content: center;
    align-items: center;
    justify-items: center;
    min-height: 100vh; 
    padding: 0rem 0rem;
    background-color: orange;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

.audioItem {
    display: grid;
    grid-template-columns: auto auto auto;
}

.link {
    border: 1px #aaa;
    border-radius: 12px;
    padding: 6px;
    margin: 2px;

    background-color: #ddd;
    color: black;   
}

.link:hover {
    color: white;
    background-color: aqua;
}

.storyItemTop {
    display: grid;
    /* grid-template-columns: 40% 30% 15% 15%; */
    grid-template-columns: minmax(min-content, 300px) auto auto auto;
    justify-items: start;
    gap: 10px;
    width: 100%;
    /* min-width: min-content; */
}
.storyItemTitle {
    font-size: 14px;
}

.storyItemAuthor {
    font-size: 13px;
}

.storyItemTags {
    font-size: 10px;
}

.tag {
    background-color: rgb(60, 94, 136);
    border-radius: 12px;
    border: 1px rgb(26, 62, 161) solid;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: start;
    align-items: center;
    /* min-width: min-content; */
}

.flexWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex-direction: row;

    /* width: minmax(min-content, 700px); */
    /* grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: auto; */
}

.storyContainer {
    display: grid;
    width: 100%;
}

.mainItems {
    margin: 10px 0px;
}




.main {
    /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr;
    /* justify-content: center; */
    /* justify-items: center; */
    gap: 20px 0px;
    background-color: rgb(44, 44, 167);
    min-width: min-content;
    width: 80%;
    /* width: min-content; */
    /* width: minmax(min-content, 500px); */
}

.listenerGroups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    width: 100%;
    color: black;
    background-color: yellow;
}

.hearAStory {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}

.radioGroup,  .radioGroup > label {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    /* align-content: center;
    text-align: center; */
    align-items: center;
    background-color: olive;
    gap: 0px 4px;
    margin-top: 0;
}

.storyItemWithIcon, .storyItem {
    display: grid;
    grid-template-columns: 1fr 32px;
    align-items: center;
    width: 100%;
}
.storyItem {
    grid-template-columns: 1fr;
    background-color: chartreuse;
}

.tagLiker {
    display: grid;
    grid-template-columns: 1fr 24px 24px;
}

.center {
    justify-self: center;
    background-color: darkcyan;
}

.start {
    justify-self: start;
}

.fullWidth {
    width: 100%;
}

.twoblack {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #000;
}

.two {
    display: grid;
    grid-template-columns: auto auto;
}

.leftTwoGether {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    /* align-content: center; */
    justify-items: start;
    align-items: end;
    background-color: gray;
    column-gap: 16px;
    padding: 0px 16px;
    /* text-align: end; */
}
.modal {
    display: block;
    background-color: blue;
    color: green;
    width: 600px;
    height: 600px;
    position: absolute;
    /* top: 0;
    left: 0; */
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    /* opacity: 0.3; */
}

.button {
    background-color: tan;
    padding: 5px;
    border: ;
    margin: 5px;
}
/*

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

*/